
{{!-- <p>{{user.projects}}</p> --}}
{{!-- <p>{{user.tasks[0].title}}</p> --}}
<div class="d-flex flex-column justify-content-start mt-4 ">
  <h2>Welcome, {{user.email}}</h2>
  <h4 class="display-8 text-secondary align-self-start" id="sub-title"></h4>
  <section id="top-section" class="d-flex flex-row align-items-around justify-content-between">
    <section id="task-stats" class="w-25">
        <h3 class="text-start">Task Stats</h3>
        <div class="card" id="task-card" data-value="{{json user.tasks}}"> 
          <div class="card-body d-flex flex-column justify-content-between align-items-center ">
              <section class="task-stats m-1 d-flex align-items-center justify-content-around flex-row border bs-border-color-translucent rounded py-4 w-100">
                  <span><i class='bx bx-note'></i>Total</span>
                  <span class="task-tot"  id="total"></span>
              </section>
              <section class="task-stats m-1 d-flex align-items-center justify-content-around flex-row  border bs-border-color-translucent rounded py-4 w-100">    
                  <span><i class='bx bx-pause-circle ' ></i>Backlog</span>
                  <span class="task-tot"  id="not-started"></span>            
              </section>
              <section class="task-stats m-1 d-flex align-items-center justify-content-around flex-row border bs-border-color-translucent rounded py-4 w-100">           
                  <span><i class='bx bx-loader '></i>In-progress</span>
                  <span class="task-tot" id="in-progress"></span>         
              </section>
              <section class="task-stats m-1 d-flex align-items-center justify-content-around flex-row border bs-border-color-translucent rounded py-4 w-100">    
                  <span><i class='bx bx-check-circle ' ></i>Complete</span>
                  <span class="task-tot"  id="complete"></span>            
              </section>
          </div>
        </div>
      </section>
      <section id="project-stats" class="w-75">
        <h3 class="text-start">Project Stats</h3>
        <table class="table border bs-border-color-translucent">
          <thead>
            <tr class="table-active">
              <th class="top-row"scope="col">Name</th>
              <th class="top-row"scope="col">Description</th>
              <th class="top-row w-25"scope="col">Progress</th>
              <th class="top-row w-25"scope="col"></th>
            </tr>
          </thead>
          <tbody>
              {{#each user.projects as |project|}} 
                <tr class="m-2">
                  <td><div class="cell-content">{{project.title}}</div></td>
                  <td class="description"><div class="cell-content">{{project.description}}</div></td>
                  <td class="progress-section">
                    <div class="cell-content">
                        <div class="progress w-100">
                          <div id="progress-project-{{project._id}}" class="progress-bar" role="progressbar" style="width: 33%"></div>
                        </div> 
                    </div>
                  </td>
                  <td class="table-btn text-end">
                    <div class="cell-content justify-content-center">
                        <a href="/projects/{{project._id}}" class="">
                          <button class="btn view-more-btn">View More</button>
                        </a>
                    </div>
                  </td>
                </tr>
              {{/each}}
          </tbody>
        </table>
      </section>
  </section>
  <section id="upcoming-tasks">

  </section>
  
  

{{!-- <div class="m-4 d-flex justify-content-around w-75">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal">
        Create Task
    </button>
    <button id="projectModalBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal">
        Create Project
    </button>
</div> --}}

<!--Add Task Modal-->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalTitle">Create new task</h5>
        <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
          <span class="h3" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="m-4">
          <div class="form-group mb-4">
            <label for="task-project">Project</label>
              <select id="task-project" class="form-control">
                {{#each user.projects as |project|}}
                  <option value="{{project._id}}">{{project.title}}</option>             
                {{/each}}
            </select>
           </div>
          <div class="form-group mb-4">
            <label for="task-title">Title</label>
            <input type="text" class="form-control" id="task-title" placeholder="Enter task title">
          </div>
          <div class="form-group mb-4">
            <label for="task-description">Description</label>
            <input type="text" class="form-control" id="task-description" placeholder="Enter task description">
          </div>
          <div class="container w-100 p-0 mb-4"> 
            <label>Due Date </label> 
            <div id="datepicker" 
              class="input-group date w-100" 
              data-date-format="mm-dd-yyyy"> 
              <input id="due-date" class="form-control" 
                    type="text" readonly /> 
              <span class="input-group-addon"> 
                  {{!-- <i class='bx bx-calendar' ></i> --}}
              </span> 
            </div> 
          </div> 
          <div class="form-group mb-4">
            <label for="task-priority">Priority</label>
              <select id="task-priority" class="form-control">
                <option>Critical</option>
                <option>High</option>
                <option>Medium</option>
                <option>Minor</option>
              </select>
           </div>
           <div class="form-group mb-4">
              <label for="task-status">Status</label>
              <select id="task-status" class="form-control">
                <option>Not started</option>
                <option>In progress</option>
                <option>Complete</option>
              </select>
           </div>
           <div class="mb-4" id="task-assignees" data-value="{{json user.projects}}">
              <p>Assignees</p>
           </div>
          <buttonn id="new-task-submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Project Modal-->
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectModalTitle">Create new project</h5>
        <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
          <span class="h3" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- form title text description textonylowneredit select status input collaboators div (handle rest in js) --}}
        <form autocomplete="off">
           <div class="form-group mb-4">
            <label for="project-title">Title</label>
            <input type="text" class="form-control" id="project-title" placeholder="Enter title">
          </div>
          <div class="form-group mb-4">
            <label for="project-description">Description</label>
            <input type="text" class="form-control" id="project-description" placeholder="Enter description">
          </div>
          <div class="form-check form-switch mb-4">
            <input class="form-check-input only-owner-edit" type="checkbox" id="only-owner-edit" checked>
            <label class="form-check-label" for="only-owner-edit">All collaboators can edit or delete this project</label>
          </div>
          <div id="chosen-collaborators"></div>
            <div class="mb-4 d-block">
              <p class="mb-0">Collaboators</p>
              <input type="text" name="project-collaborators" id="project-collaborators" onKeyUp="showResults(this.value)" /> 
              <div id="result"></div>
            </div>
            <buttonn id="new-project-submit" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{{!-- {{#if user.tasks}}
<div class="d-flex flex-row w-50 justify-content-between text-center">
    <section class="w-50 m-4">
       <h3>All tasks</h3>
       <div id="accordion">
            {{#each user.tasks as |task|}}
                <div class="card">
                    <div class="card-header" id="taskheading{{@index}}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#taskcollapse{{@index}}" aria-expanded="false" aria-controls="taskcollapse{{@index}}">
                                {{task.title}}
                            </button>
                        </h5>
                    </div>
                    <div id="taskcollapse{{@index}}" class="collapse" aria-labelledby="taskheading{{@index}}" data-parent="#accordion">
                        <div class="card-body">
                            {{task.description}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
{{/if}} 
{{#if user.projects}}
<section class="w-50 m-4">
<h3>All projects</h3>
    <div id="accordion">
        {{#each user.projects as |project|}}
            <div class="card">
                <div class="card-header" id="projectheading{{@index}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#projectcollapse{{@index}}" aria-expanded="false" aria-controls="projectcollapse{{@index}}">
                            {{project.title}}
                        </button>
                    </h5>
                </div>
                <div id="projectcollapse{{@index}}" class="collapse" aria-labelledby="projectheading{{@index}}" data-parent="#accordion">
                    <div class="card-body">
                        {{project.description}}
                        <div class="m-2">
                            
                            <a href="/projects/{{project._id}}"><button class="btn btn-primary">View more</button></a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    {{!-- {{user.projects.length}} --}}
{{!-- </section>
{{/if}} --}}
</div>
</div>
<script src="/dashboard.js"></script>
{{!-- add javascript code that will add the correct numbers to the text content of each div  --}}
{{!-- ?fetch user data in js and then creat teh numbers I need for each div  --}}


