<div class="jumbotron m-2 w-75">
  <h1 id="one-project-title" class="display-4" data-value="{{project._id}}">
    {{project.title}}
    {{#projectPermissions project.owner user._id project.onlyOwnerEdit}}
     <div class="btn-group">
          <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='bx bx-dots-vertical-rounded'></i></button>
          <div class="dropdown-menu">
            <button id="update-project" class="dropdown-item" href="#"><i class='bx bx-edit-alt mx-1'></i>Update Project</button>
            <div class="dropdown-divider"></div>
            <button id="delete-project" class="dropdown-item"><i class='bx bx-trash mx-1 text-danger' ></i>Delete Project</button>
        </div>    
    </div>
    {{/projectPermissions}}
    </h1>
  <h4 class="lead">{{project.description}}</h6>  
</div>
  <span class="mx-2 my-5 h5">Collaboators: </span>
 {{#each project.collaborators as |u|}}
      <button type="button" class="btn btn-secondary rounded-circle" data-toggle="tooltip" data-placement="top" title="{{u.email}}">{{firstInital u}}</button>
  {{/each}}

<div id="progress-section" class="my-5 w-75 mx-2" data-value="{{json project.tasks}}">
  <h3>Progress</h3>
  <p id="project-task-c-text"></p>
    <div class="progress mb-2">
      <div id="project-task-complete" class="progress-bar progress-bar-striped bg-success" role="progressbar"></div>
    </div> 
</div>
<div class="m-2 d-flex display-content-center flex-column">
<h3 class="text-start">All Tasks</h3>
        <table class="table border bs-border-color-translucent">
          <thead>
            <tr class="table-active">
              <th class="top-row"scope="col">Name</th>
              <th class="top-row"scope="col">Due Date</th>
              <th class="top-row"scope="col">Status</th>
              <th class="top-row"scope="col">Priority</th>
              <th class="top-row"scope="col">Assignees</th>
              <th class="top-row w-25"scope="col"></th>
            </tr>
          </thead>
          <tbody>
              {{#each project.tasks as |task|}} 
                <tr class="m-2">
                  <td><div class="cell-content">{{task.title}}</div></td>
                  <td><div class="cell-content">{{toStringDate task.dueDate}}</div></td>
                  <td><div class="cell-content status justify-content-center">{{task.status}}</div></td>
                  <td><div class="cell-content priority justify-content-center">{{task.priority}}</div></td>
                  <td><div class="cell-content">
                    {{#each task.assignees as |u|}}
                      <div class="rounded-circle bg-secondary text-white m-1">
                        <button type="button" class="btn btn-secondary rounded-circle" data-toggle="tooltip" data-placement="top" title="{{u.email}}">{{firstInital u}}</button>
                      </div>
                    {{/each}}
                  </div></td>
                  <td class="table-btn text-end">
                    <div class="cell-content justify-content-center">
                        <a href="/projects/{{task._id}}" class="">
                          <button class="btn view-more-btn">View More</button>
                        </a>
                    </div>
                  </td>
                </tr>
              {{/each}}
          </tbody>
        </table>
</div>

<script src="/oneProject.js"></script>

